@page
@model Strona_na_zajęcia.Pages.CiasteczkaModel
@{

}

<form method="post">
    <h1>Zapisz do pliku</h1>
    <textarea name="tekst"></textarea>
    <button class="btn btn-primary" name="wyslij" type="submit">Zapisz</button>
</form>

@Model.dane
